
.icon-login:before { content: '\e800'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */